<header>
    <a href="/">
        <h1> Owen's Recipes</h1>
    </a>
    <nav>
        <ul>
            <a href="/" class="<%= title === 'Home' ? 'current-page' : '' %>">
                <li>Home</li>
            </a>
            <a href="/allrecipes" class="<%= title === 'All Recipes' ? 'current-page' : '' %>">
                <li>All Recipes</li>
            </a>
            <a href="/addrecipe" class="<%= title === 'Add Recipe' ? 'current-page' : '' %>">
                <li>Add Recipe</li>
            </a>
        </ul>
    </nav>
</header>